<!DOCTYPE html>
<html th:lang="${#locale.language}" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Safeline Web Service</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Website Font style -->
    <script src="https://use.fontawesome.com/5d28aee3a0.js"></script>

    <!-- FLAGS -->
    <link rel="stylesheet" type="text/css" th:href="@{css/flag-icon.min.css}"/>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}"/>

</head>
<body>
<!--NavBar-->
<div th:fragment="navbar(activeTab)">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img src="/img/log-whi.png" height="28" class="d-inline-block align-top" alt=""/>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav" th:if="${activeTab != 'login' and activeTab != 'signup'}">
            <ul class="navbar-nav mr-auto">
                <li th:class="${activeTab == 'about'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li th:class="${activeTab == 'asd'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li th:class="${activeTab == 'asd'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li th:class="${activeTab == 'asd'} ? 'nav-item active' : 'nav-item'">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe fa-lg" aria-hidden="true"></i> Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <a th:href="@{/logout}" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav" th:if="${activeTab == 'login'} or ${activeTab == 'signup'}">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-globe fa-lg" aria-hidden="true"></i> Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" th:href="@{?lang=es}"><span class="flag-icon flag-icon-es"></span> Español</a>
                        <a class="dropdown-item" th:href="@{?lang=en}"><span class="flag-icon flag-icon-gb"></span> English</a>
                    </div>
                </li>
            </ul>
            <a th:if="${activeTab == 'login'}" th:href="@{/signup}" class="btn btn-outline-success my-2 my-sm-0">Sign Up</a>
            <a th:if="${activeTab == 'signup'}" th:href="@{/login}" class="btn btn-outline-success my-2 my-sm-0">Sign in</a>
        </div>
    </nav>
</div>
</body>
</html>